body {
  /*font-family: 'Abril Fatface', cursive;*/
  /*font-size: 1.2em;*/
  background: #e7e9ff url("https://wallpapercave.com/wp/wp6328875.jpg") no-repeat center center fixed;
  background-size: cover;
  /*color: #ddd;*/
}
.datepicker {
  font-family: 'Abril Fatface', cursive;
  width: 475px;
  max-width: 90vw;
  background: #fdfdfd;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.2), 0 15px 12px rgba(0,0,0,0.2);
  margin: 15px auto;
  overflow: hidden;
}

.datepicker .datepicker-header {
  height: 250px;
  background-image: url("https://media.giphy.com/media/10Ua7rs9fxa8QE/giphy.gif");
  /* background-image: url("https://envose.github.io/6DCC8A47-1EDA-4A07-90B4-E025624EB538.jpeg"); */
  background-size: 100%;
  opacity: 0.9;
  color: #fff;
  font-size: 4em;
  text-align: center;
  padding: 0.7em;
}
.datepicker .ui-datepicker-inline {
  padding: 30px;
}
.datepicker .ui-datepicker-header {
  text-align: center;
  font-size: 1.4em;
  padding-bottom: .5em;
  letter-spacing: .1em;
  color: #333;
}
.datepicker .ui-datepicker-header .ui-datepicker-prev,
.datepicker .ui-datepicker-header .ui-datepicker-next {
  float: left;
  cursor: pointer;
  font-size: 1.4em;
  padding: 0 5px;
  margin-top: -8px;
  color: #ddd;
  transition: .6s;
  visibility: hidden;
}
.datepicker .ui-datepicker-header .ui-datepicker-next {
  float: right;
}
.datepicker .ui-datepicker-header .ui-datepicker-prev:hover {
  transform: translateX(-25px)
}
.datepicker .ui-datepicker-header .ui-datepicker-next:hover {
  transform: translateX(25px)
}
.datepicker .ui-datepicker-calendar {
  width: 100%;
  text-align: center;
}
.datepicker .ui-datepicker-calendar thead {
  color: #ddd;
}
.datepicker .ui-datepicker-calendar tr th,
.datepicker .ui-datepicker-calendar tr td {
  padding-bottom: .4em;
}
.datepicker .ui-datepicker-calendar a {
  color: #333;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
}
.datepicker .ui-datepicker-calendar a:hover {
  /*background: #da89a2;*/
  background: #fff;
  color: #69aaff;
  transition: .7s;
  transform: scale(1);
}
.datepicker .ui-datepicker-calendar .ui-state-highlight {
  /*background: #da89a2;*/
  background: #fff;
  color: #333;
  border-width: 2px;
  border-color: #69aaff;
}
.datepicker .ui-datepicker-calendar .ui-state-highlight:hover {
  color: #69aaff;
}

.btn_sign_in {
  width: 25vw;
}

#overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: none;
}

@media screen and (max-width: 300px) {
  .datepicker {
    max-width: 100vw;
  }
  .datepicker .datepicker-header {
    padding: 0.2em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
  }
}

#starModal {
  color: white;
  overflow: hidden;
}

#starModal .modal-content {
  background-size: cover;
  height: 95vh;
  min-height: 500px;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%)
}

#star_container {
  height: 100%;
  width: 100%;
}


i {
   width: 10px;
   height: 10px;
   background-color: #fff;
   border-radius: 50%;
   box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.8);
   position: absolute;
   transition: all 0.4s ease-in-out;
   transform: rotate(15deg);
   animation: shine;
   animation-duration: 5s;
   animation-iteration-count: infinite;
}
 i:after, i:before {
   content: "";
   display: block;
   position: absolute;
   background-image: linear-gradient(to left, transparent, white, transparent);
   left: -34px;
   top: calc(50% - 1px);
   width: 80px;
   height: 2px;
}
 i:before {
   width: 2px;
   height: 80px;
   left: calc(50% - 1px);
   top: -34px;
   background-image: linear-gradient(to bottom, transparent, white, transparent);
}

@keyframes shine{
  
  0%{
      transform: scale(0) rotate(-200deg);
  }
  55%{
      transform: scale(0.4) rotate(180deg);
  }
  100%{
      transform: scale(0) rotate(-200deg);
  }
  
}
