
html, body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  margin: 0; height: 100%; overflow: hidden
}

:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

#rulesContent {
  font-size: 24px;
  padding: 20px;
}

#counting {
  border-radius: 50%; 
  height: 60px;
  width: 60px; 
  font-size: 30px; 
  padding: 5px;
  margin: 10px;
}